build/*
dist/*
pyris.egg-info/*
dist/pyris-1.0-py3.9.egg
pyris/bin/pyrisw.py
pyris/config/__pycache__/*
pyris/__pycache__/*
pyris/misc/__pycache__/*
pyris/raster/__pycache__/*
pyris/raster/__pycache__/bars.cpython-39.pyc
pyris/raster/__pycache__/morphology.cpython-39.pyc
pyris/raster/__pycache__/pruner.cpython-39.pyc
pyris/raster/__pycache__/segmentation.cpython-39.pyc
pyris/vector/__pycache__/__init__.cpython-39.pyc
pyris/vector/__pycache__/axis.cpython-39.pyc
pyris/vector/__pycache__/interpolation.cpython-39.pyc
pyris/vector/__pycache__/migration.cpython-39.pyc
